

.header {
 display: grid;
 grid-template-columns: 1fr min-content 1fr;
 align-items: center;
 padding: 90px  51px 94px ;
 background-color: #fff;
}

.header__links-list {
display: flex;
gap: 33px;
font-size: 18px;
}

.header__menu {
  text-underline-offset: 4px;
}

.header__links-list-item {
 list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo-image {
  width: 136px;
}

.address {
  justify-self: end;
  max-width: 240px;
  padding-left: 2px;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
}

.address a {
  text-underline-offset: 5px;
}

.header__address {
  font-family: inherit;
  font-style: normal;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.4);
}

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  padding-top: 156px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  width: 1000px;
  height: 385px;
  margin: auto;
  color: #fff;
  line-height: 1.35;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.text__center {
  margin-right: -30px;
  text-align: center;
}

.text__right {
  margin-right: -30px;
  text-align: right;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 116px 50px 50px;
}

.cover__description-text {
  z-index: 1;
  color: #fff;
  font-family: Railway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet__button {
  z-index: 1;
  display: block;
  border: 1px solid #fff;
  padding: 11px 31px;
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
width: 1052px;
height: 723px;
margin: auto;
margin-top: 180px;
margin-bottom: 120px;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  margin-bottom: 30px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
}

.card__title {
  z-index: 1;
  color: #fff;
  font-family: Railway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-family: Railway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  margin-left: 40px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1052px;
  height: 595px;
  margin: auto;
  margin-bottom: 180px;

}

.about__logo {
  width: 334px;
  min-height: 595px;
  padding: 35px 0 0 47px;
}

.about__logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.logo__circle {
  max-width: 148px;
  padding-top: 3px;
}

.about__title {
  padding: 137px 0 0 8px;
}

.about__title-text {
font-family: Raleway;
font-weight: 700;
font-size: 40px;
text-transform: uppercase;
}

.about__text-cover {
  display: grid;
  gap: 24px;
  padding-top: 100px;
  line-height: 24px;
}

.about__text {
max-width: 688px;
max-height: 120px;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 180px;
  padding: 0 50px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  width: 240px;
  height: 48px;
  list-style-type: none;
}

.footer__menu-list {
font-family: Raleway;
font-weight: 400;
font-size: 18px;
text-align: center;
text-underline-offset: 4px;
list-style-type: none;
}


